<div class="clearfix page-main-content padding-12lr">
    <div class="main-content">
        <!-- 表单 -->
        <form class="ajax-form" data-action="{:U('Promoter/doEditCustomer')}">
            <table class="table table-hover">
                <!-- 客户基本信息 -->
                <tbody>
                <tr>
                    <td class="text-left" colspan="3">
                        基本资料
                    </td>
                    <td class="text-right">
                        <input type="hidden" name="id" value="{$_GET['id']}" />
                        <input type="submit" value="保存" class="btn btn-primary">
                    </td>
                </tr>
                <tr>
                    <td class="td-title">客户编号</td>
                    <td><input type="text"  id="CustNo" name="CustNo" value="{$d['custno']}" /></td>

                    <td class="td-title">选择门店</td>
                    <td>
                        <select name="StoreId" id="StoreId">
                            <option value="0">--请选择--</option>
                            <foreach name="stores" item="v" >
                                <option value="{$v['storeid']}" <if condition="$d['storeid'] eq $v['storeid']">selected</if> >{$v['storename']}</option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-title">客户姓名</td>
                    <td>
                        <input type="text" id="CustName" name="CustName" value="{$d['custname']}" />
                    </td>
                    <td class="td-title">称呼</td>
                    <td>
                        <select  id="Sex" name="Sex" >
                            <option <if condition="$d['sex'] eq -1">selected</if> value="-1">未知</option>
                            <option <if condition="$d['sex'] eq 1">selected</if> value="1">先生</option>
                            <option <if condition="$d['sex'] eq 0">selected</if> value="0">女士</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-left" colspan="4">联系方式</td>
                </tr>
                <tr>
                    <td class="td-title">客户手机</td>
                    <td><input type="text" name="Mobile"  id="Mobile" value="{$d['mobile']}" /></td>
                    <td class="td-title">微信号</td>
                    <td><input type="text" name="WeChat"  id="WeChat" value="{$d['wechat']}" ></td>
                </tr>
                <tr>
                    <td class="td-title">QQ号</td>
                    <td><input type="text" name="QQ" id="QQ" value="{$d['qq']}"/></td>
                    <td class="td-title">QQ验证</td>
                    <td><input type="text" name="QQCode"  id="QQCode"  value="{$d['qqcode']}" ></td>
                </tr>
                <tr>
                    <td class="td-title">微博昵称</td>
                    <td><input type="text" name="WeiboName" id="WeiboName" value="{$d['weiboname']}" /></td>
                    <td class="td-title">分配方式</td>
                    <td>
                        <select name="AppointType" id="AppointType">
                            <option value="0">自动分配</option>
                            <option value="1">组长指定</option>
                            <option value="2">指定销售</option>
                            <option value="3">晚值</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td class="td-title">来源渠道</td>
                    <td>
                        <select name="SourceFrom" id="SourceFrom">
                            <option>--请选择--</option>
                            <foreach name="sources" item="s">
                                <option <if condition="$d['sourcefrom'] eq $s['sourceid']">selected</if> value="{$s['sourceid']}">{$s['sourcename']}</option>
                            </foreach>
                        </select>
                    </td>
                    <td class="td-title">来源关键字</td>
                    <td>
                        <input type="text" name="Keywords" id="Keywords" value="{$d['keywords']}"/>
                    </td>

                </tr>
                <tr>
                    <td class="td-title">备注</td>
                    <td colspan="3">
                        <textarea name="Remark" id="Remark" rows="10" class="w-percent-100">{$d['remark']}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>