<div class="clearfix page-main-content padding-12lr">
    <div class="main-content">
        <!-- 表单 -->
        <form class="ajax-form" data-action="{:U('Seller/doEditCust')}">
            <table class="table table-hover table-layer">
                <!-- 客户基本信息 -->
                <tbody>
                <tr>
                    <td class="text-left" colspan="7">
                        <h5>基本资料</h5>
                    </td>
                    <td class="text-right">
                        <input type="hidden" name="layer" value="1" />
                        <input type="hidden" name="id" value="{$d['custid']}" />
                        <input type="submit" value="保存" class="btn btn-primary btn-system">
                    </td>
                </tr>
                <tr>
                    <td class="td-title">客户姓名</td>
                    <td><input type="text"  id="CustName" name="CustName" value="{$d['custname']}" /></td>
                    <td class="td-title">年龄</td>
                    <td>
                        <select name="Age" id="Age">
                            <option>请选择</option>
                            <for start="20" end="49">
                                <option <if condition="$d.age eq $i">selected</if> value="{$i}">{$i}</option>
                            </for>
                        </select>
                    </td>
                    <td class="td-title">称呼</td>
                    <td>
                        <select  id="Sex" name="Sex" >
                            <option  <if condition="$d.sex eq -1">selected</if> value="-1">未知</option>
                            <option   <if condition="$d.sex eq 1">selected</if> value="1">先生</option>
                            <option   <if condition="$d.sex eq 0">selected</if> value="0">女士</option>
                        </select>
                    </td>
                    <td class="td-title">微信号</td>
                    <td><input type="text" name="WeChat"  id="WeChat" value="{$d['wechat']}" /></td>

                </tr>
                <tr>
                    <td class="td-title">手机号</td>
                    <td><input type="text" name="Mobile" id="Mobile" value="{$d['mobile']}" /></td>
                    <td class="td-title">微博昵称</td>
                    <td><input type="text" name="WeiboName"  id="WeiboName" value="{$d['weiboname']}" ></td>
                    <td class="td-title">QQ号</td>
                    <td><input type="text" name="QQ" id="QQ" value="{$d['qq']}"/></td>
                    <td class="td-title">QQ验证</td>
                    <td><input type="text" name="QQCode"  id="QQCode"  value="{$d['qqcode']}" ></td>
                </tr>


                <tr>
                    <td class="td-title">选择门店</td>
                    <td>
                        <select name="StoreId" id="StoreId">
                            <option >请选择</option>
                            <foreach name="storeList" item="v" >
                                <option  <if condition="$d['storeid'] eq $v['storeid']">selected</if> value="{$v.storeid}" >{$brand[$store[$v['storeid']]['brandid']]['brandname']}{$v['storename']}</option>
                            </foreach>
                        </select>
                    </td>
                    <td class="td-title">是否进店</td>
                    <td><input type="text" name="GotoStore" id="GotoStore" value="{$d['gotostore']}"/></td>
                    <td class="td-title">预约时间</td>
                    <td><input type="text" name="PresetTime" id="PresetTime" value="{$d['presettime']}" class="Wdate"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
                    <td class="td-title">进店时间</td>
                    <td><input type="text" name="IntoTime" id="IntoTime" value="{$d['intotime']}" class="Wdate"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
                </tr>



                <!-- 订单信息 -->
                <tr>
                    <td class="td-title">是否订单</td>
                    <td>
                        <select name="IsOrder">
                            <option value="">请选择</option>
                            <option <if condition="$d['isorder'] eq 1">selected</if> >是</option>
                            <option <if condition="$d['isorder'] eq 0">selected</if> >否</option>
                        </select>
                    </td>
                    <td class="td-title">订单时间</td>
                    <td><input type="text" name="OrderTime" id="OrderTime" value="{$d['ordertime']}" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">类型</td>
                    <td>
                        <select name="BirthType" id="BirthType">
                            <option value="美国生育">美国生育</option>
                        </select>
                    </td>
                    <td class="td-title">孕期</td>
                    <td><input type="text" name="Pregnancy" id="Pregnancy" value="{$d['pregnancy']}" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></td>
                    <td class="td-title">是否结婚</td>
                    <td>
                        <select name="IsMarried">
                            <option value="-1">请选择</option>
                            <option value="1" <if condition="$d['ismarried'] eq 1">selected</if> >已婚</option>
                            <option value="0" <if condition="$d['ismarried'] eq 0">selected</if> >未婚</option>
                            <option value="2" <if condition="$d['ismarried'] eq 2">selected</if> >未知</option>
                        </select>
                    </td>
                    <td class="td-title">是否有签证</td>
                    <td>
                        <select name="IsHasVisa">
                            <option value="-1">请选择</option>
                            <option value="1"  <if condition="$d['ishasvisa'] eq 1">selected</if> >有签证</option>
                            <option value="0" <if condition="$d['ishasvisa'] eq 0">selected</if> >无签证</option>
                            <option value="2" <if condition="$d['ishasvisa'] eq 2">selected</if> >未知</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-title">套系金额</td>
                    <td><input type="text" name="OrderPrice" id="OrderPrice" value="{$d['orderprice']}"/></td>
                    <td class="td-title">已付金额</td>
                    <td><input type="text" name="PayPrice" id="PayPrice" value="{$d['payprice']}"/></td>
                    <td class="td-title">补款金额</td>
                    <td><input type="text" /></td>
                    <td class="td-title">补款时间</td>
                    <td><input type="text" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss '})"/></td>
                </tr>



                <tr>
                    <td class="td-title">通讯地址</td>
                    <td><input type="text" name="Address" id="Address" value="{$d['address']}"/></td>
                    <td class="td-title">公司地址</td>
                    <td><input type="text" name="CompanyAddr" id="CompanyAddr" value="{$d['companyaddr']}"/></td>
                    <td class="td-title">工作职位</td>
                    <td><input type="text" name="Job" id="Job" value="{$d['job']}"/></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">备注</td>
                    <td colspan="2">
                        <textarea name="Remark" class="w-percent-100">{$d['remark']}</textarea>
                    </td>
                    <td colspan="5"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>