<link rel="stylesheet" type="text/css" href="/assets/admin/css/useselect.css">
<div class="page-main-content">
    <div class="main-content">
        <!-- 面包屑 -->
        <div class="breadcrumb-box clearfix">
            <ul class="breadcrumb">
                <li>首页</li>
                <li>客户管理</li>
                <li>销售管理</li>
                <li>客户信息</li>
            </ul>
            <ol class="breadcrumb pull-right">
                <li class="{:check_rule($RulesBlack, 'Seller/addCustomer')}">
                    <a href="{:U('Seller/addCustomer')}" title="添加客资">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span class="text">添加客资</span>
                    </a>
                </li>
                <li class="{:check_rule($RulesBlack, 'Seller/expSeller')}">
                    <a href="javascript:void (0)" exp-action="{:U('Seller/expSeller',$_GET)}" id="expSeller">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        <span class="text">导出客资</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:history.go(-1);">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="text">返回</span>
                    </a>
                </li>
            </ol>
        </div>

        <!-- 检索表单 -->
        <form method="get" action="__SELF__" class="form-inline form-advance-search">
            <input type="hidden" name="c" value="{$Think.const.CONTROLLER_NAME}"/>
            <input type="hidden" name="a" value="{$Think.const.ACTION_NAME}"/>
            <input type="hidden" name="sf" value="yes"/>
            <table class="tabele table-bordered table-search">
                <if condition="$user['roleid'] eq '1'">
                    <tr>
                        <td class="w-percent-3">
                            <input type="text" name="CustId" value="{$Think.get.CustId}" />
                        </td>
                        <td class="w-percent-12">
                            <select name="StoreId[]" id="StoreId" multiple="multiple">
                                <foreach item="v" name="dstores">
                                    <option value="{$v['storeid']}" <if condition="in_array($v['storeid'],$_GET['StoreId'])">selected</if>>{$brands[$v['brandid']]['brandname']}{$v['storename']}</option>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-12">
                            <input type="text" name="CustName" id="CustName" value="{$Think.get.CustName}" placeholder="客户资料"/>
                        </td>
                        <td class="w-percent-5">
                            <select name="Opeartor[]" id="Opeartor" multiple="multiple">
                                <foreach item="v" name="promoters">
                                    <option value="{$v['userid']}" <if condition="in_array($v['userid'],$_GET['Opeartor'])">selected</if>>{$v['realname']}</option>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-8">
                            <select name="SourceFrom[]" id="SourceFrom" multiple="multiple">
                                <foreach item="val" name="gsources">
                                    <optgroup label="{$key}">
                                        <foreach item="v" name="val">
                                            <option value="{$v['sourceid']}" <if condition="in_array($v['sourceid'], $_GET['SourceFrom'])">selected</if>>{$v['sourcename']}</option>
                                        </foreach>
                                    </optgroup>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-8"></td>
                        <td class="w-percent-8">
                            <select name="AssignStatus" id="AssignStatus">
                                <option value="-1">--接单状态--</option>
                                <option value="1" <if condition="$_GET['AssignStatus'] eq '1'">selected</if>>已接受</option>
                                <option value="0" <if condition="$_GET['AssignStatus'] eq '0'">selected</if>>未接受</option>
                            </select>
                        </td>
                        <td class="w-percent-5">
                            <if condition="in_array($user['roleid'], [3,4,5,6,7,8,12])">
                                <select name="salseId[]" id="salseId" multiple="multiple">
                                    <foreach item="v" name="ksellers1">
                                        <option value="{$v['userid']}" <if condition="in_array($v['userid'], $_GET['salseId'])">selected</if>>{$v['realname']}</option>
                                    </foreach>
                                </select>
                            </if>
                        </td>
                        <td class="w-percent-10">
                            <select name="Status[]" id="Status" multiple>
                                <foreach item="val" name="status">
                                    <option value="{$key}" <if condition="in_array($key, $_GET['Status'])">selected</if>>{$val}</option>
                                </foreach>
                                <option value="0" <if condition="in_array(0, $_GET['Status'])">selected</if>>未回访</option>
                            </select>
                        </td>
                        <td class="w-percent-10">
                            <input type="text" name="StartInsertTime" id="StartInsertTime" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="<notempty name="Think.get.StartInsertTime">{$Think.get.StartInsertTime}</notempty>" placeholder="录入开始时间"/>
                            <input type="text" name="EndInsertTime" id="EndInsertTime" class="Wdate border-top" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="<notempty name="Think.get.EndInsertTime">{$Think.get.EndInsertTime}</notempty>" placeholder="录入结束时间"/>
                        </td>
                        <td class="w-percent-5">
                            <select name="IsOrder" id="IsOrder">
                                <option value="-1">是否订单</option>
                                <option value="1" <if condition="$_GET['IsOrder'] eq '1'">selected</if>>是</option>
                                <option value="0" <if condition="$_GET['IsOrder'] eq '0'">selected</if>>否</option>
                            </select>
                        </td>
                        <td class="w-percent-5">
                            <input type="submit" class="w-percent-100 btn btn-system" value="搜索"/>
                        </td>
                    </tr>
                <else />
                    <tr>
                        <td class="w-percent-3">
                            <input type="text" name="CustId" value="{$Think.get.CustId}" />
                        </td>
                        <td class="w-percent-10">
                            <select name="StoreId[]" id="StoreId" multiple="multiple">
                                <foreach item="v" name="kstores">
                                    <option value="{$v['storeid']}" <if condition="in_array($v['storeid'],$_GET['StoreId'])">selected</if>>{$brands[$v['brandid']]['brandname']}{$v['storename']}</option>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-10">
                            <input type="text" name="CustName" id="CustName" value="{$Think.get.CustName}" placeholder="客户资料"/>
                        </td>
                        <td class="w-percent-5">
                            <select name="Opeartor[]" id="Opeartor" multiple="multiple">
                                <foreach item="v" name="promoters">
                                    <option value="{$v['userid']}" <if condition="in_array($v['userid'],$_GET['Opeartor'])">selected</if>>{$v['realname']}</option>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-8">
                            <select name="SourceFrom[]" id="SourceFrom" multiple="multiple">
                                <foreach item="val" name="gsources">
                                    <optgroup label="{$key}">
                                        <foreach item="v" name="val">
                                            <option value="{$v['sourceid']}" <if condition="in_array($v['sourceid'], $_GET['SourceFrom'])">selected</if>>{$v['sourcename']}</option>
                                        </foreach>
                                    </optgroup>
                                </foreach>
                            </select>
                        </td>
                        <td class="w-percent-8"></td>
                        <td class="w-percent-8">
                            <!--<select name="AssignStatus" id="AssignStatus">
                                <option value="-1">&#45;&#45;接单状态&#45;&#45;</option>
                                <option value="1" <if condition="$_GET['AssignStatus'] eq '1'">selected</if>>已接受</option>
                                <option value="0" <if condition="$_GET['AssignStatus'] eq '0'">selected</if>>未接受</option>
                            </select>-->
                        </td>
                        <td class="w-percent-5">
                            <if condition="in_array($user['roleid'], [3,4,5,6,7,8,12])">
                                <select name="salseId[]" id="salseId" multiple="multiple">
                                    <foreach item="v" name="ksellers1">
                                        <option value="{$v['userid']}" <if condition="in_array($v['userid'], $_GET['salseId'])">selected</if>>{$v['realname']}</option>
                                    </foreach>
                                </select>
                            </if>
                        </td>
                        <td class="w-percent-10">
                            <select name="Status[]" id="Status" multiple>
                                <foreach item="val" name="status">
                                    <option value="{$key}" <if condition="in_array($key, $_GET['Status'])">selected</if>>{$val}</option>
                                </foreach>
                                <option value="0" <if condition="in_array(0, $_GET['Status'])">selected</if>>未回访</option>
                            </select>
                        </td>
                        <td class="w-percent-10">
                            <input type="text" name="StartInsertTime" id="StartInsertTime" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="<notempty name="Think.get.StartInsertTime">{$Think.get.StartInsertTime}</notempty>" placeholder="录入开始时间"/>
                            <input type="text" name="EndInsertTime" id="EndInsertTime" class="Wdate border-top" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="<notempty name="Think.get.EndInsertTime">{$Think.get.EndInsertTime}</notempty>" placeholder="录入结束时间"/>
                        </td>
                        <td class="w-percent-5">
                            <select name="IsOrder" id="IsOrder">
                                <option value="-1">是否订单</option>
                                <option value="1" <if condition="$_GET['IsOrder'] eq '1'">selected</if>>是</option>
                                <option value="0" <if condition="$_GET['IsOrder'] eq '0'">selected</if>>否</option>
                            </select>
                        </td>
                        <td class="w-percent-4"></td>
                        <td class="w-percent-5">
                            <input type="submit" class="w-percent-100 btn btn-system" value="搜索"/>
                        </td>
                    </tr>
                </if>
            </table>
        </form>
        <div class="space-10"></div>
        <!-- 客资列表 -->
        <div class="box">
            <div class="water1">{$user['realname']}</div>
            <div class="water2">{$user['realname']}</div>
            <div class="water3">{$user['realname']}</div>
            <div class="water4">{$user['realname']}</div>
            <div class="water5">{$user['realname']}</div>
            <div class="water6">{$user['realname']}</div>
            <div class="water7">{$user['realname']}</div>
            <div class="water8">{$user['realname']}</div>
            <div class="water9">{$user['realname']}</div>
            <div class="water10">{$user['realname']}</div>
            <table class="table table-responsive table-striped table-bordered table-hover">
                <if condition="$user['roleid'] eq '1'">
                    <tr class="table-header">
                        <td class="w-percent-3 padding-none">序号</td>
                        <td class="text-left w-percent-12">咨询门店</td>
                        <td class="text-left w-percent-12">客户信息</td>
                        <td class="w-percent-5">推广</td>
                        <td class="w-percent-8">客资来源</td>
                        <td class="w-percent-8">录入时间</td>
                        <td class="text-left w-percent-8">接受状态</td>
                        <td class="w-percent-5">客服</td>
                        <td class="w-percent-10">回访状态</td>
                        <td class="text-left w-percent-10">回访信息</td>
                        <td class="w-percent-5">订单</td>
                        <td class="w-percent-5">操作</td>
                    </tr>
                <else />
                    <tr class="table-header">
                        <td class="w-percent-3">序号</td>
                        <td class="text-left w-percent-10">咨询门店</td>
                        <td class="text-left w-percent-10">客户信息</td>
                        <td class="w-percent-5">推广</td>
                        <td class="w-percent-8">客资来源</td>
                        <td class="w-percent-8">录入时间</td>
                        <td class="text-left w-percent-8">接受状态</td>
                        <td class="w-percent-5">客服</td>
                        <td class="w-percent-10">回访状态</td>
                        <td class="text-left w-percent-10">回访信息</td>
                        <td class="w-percent-5">订单</td>
                        <td class="w-percent-4">分配方式</td>
                        <td class="w-percent-5">操作</td>
                    </tr>
                </if>
                <php>$Assign = D('Assign');</php>
                <foreach item="val" name="list">
                    <tr class="<if condition="$val['isrepeat'] eq '1'">color-red</if> <notempty name="val['color']">status-color</notempty>" <notempty name="val['color']">style="background-color:{$val['color']};"</notempty>>
                        <td>{$key+1}</td>
                        <td class="text-left">
                            <ul>
                                <li>
                                    {$brands[$stores[$val['storeid']]['brandid']]['brandname']}{$stores[$val['storeid']]['storename']}
                                </li>
                                <!--<li>{$stores[$val['storeid']]['business']}</li>-->
                            </ul>
                        </td>
                        <td class="text-left">
                            <ul>
                                <li>
                                    {$val['custname']}&nbsp;
                                    <span class="hidden"><php>$remark=D('Visit')->getVisitRemark($val['custid']);</php></span>
                                    <empty name="remark">
                                        <notempty name="val['remark']">
                                                <span class="remark glyphicon glyphicon-exclamation-sign" data-toggle="tooltip"
                                                      data-placement="top" title="{$val['remark']}"></span>
                                        </notempty>
                                        <else/>
                                            <span class="remark glyphicon glyphicon-exclamation-sign" data-toggle="tooltip"
                                                  data-placement="top" title="{$remark}"></span>
                                    </empty>
                                </li>
                                <notempty name="val[mobile]">
                                    <li>
                                        <span class="ctitle">手机:</span>
                                        <span class="cvalue">{$val['mobile']}</span>
                                    </li>
                                </notempty>
                                <notempty name="val[wechat]">
                                    <li>
                                        <span class="ctitle">微信:</span>
                                        <span class="cvalue">{$val['wechat']}</span>
                                    </li>
                                </notempty>
                                <notempty name="val[qq]">
                                    <li>
                                        <span class="ctitle">QQ:</span>
                                        <span class="cvalue">{$val['qq']}</span>
                                    </li>
                                </notempty>
                                <notempty name="val['weiboname']">
                                    <li>
                                        <span class="ctitle">微博:</span>
                                        <span class="cvalue">{$val['weiboname']}</span>
                                    </li>
                                </notempty>
                                <notempty name="val['wang']">
                                    <li>
                                        <span class="ctitle">旺旺号:</span>
                                        <span class="cvalue">{$val['wang']}</span>
                                    </li>
                                </notempty>
                                <notempty name="val['keywords']">
                                    <li>
                                        <span class="ctitle">关键字:</span>
                                        <span class="cvalue">{$val['keywords']}</span>
                                    </li>
                                </notempty>
                            </ul>
                        </td>
                        <!-- 邀约手 -->
                        <td>{:D('User')->getUser($val['opeartor'], 'realname')}</td>
                        <td>
                            {$sources[$val['sourcefrom']]['sourcename']}
                        </td>
                        <td>
                            <php>
                                $time = explode(' ', $val['inserttime']);
                            </php>
                            <ul>
                                <li>{$time[0]}</li>
                                <li>{$time[1]}</li>
                            </ul>
                        </td>
                        <!-- 接单销售客服 -->
                        <td>
                            <php>
                                $assign = $Assign->getAssign($val['custno']);
                            </php>
                            <span class="accpet-status">
                                <if condition="$assign['status'] eq 0">未接受
                                    <elseif condition="$assign['status'] eq 1" />已接受
                                    <elseif condition="$assign['status'] eq 2" />暂未接受
                                </if>
                            </span>
                        </td>
                        <td>
                            {:D('User')->getUser($val['salseid'], 'realname')}
                            <php>$isLock = D('User')->getUser($val['salseid'], 'islock');</php>
                            <if condition="$isLock eq '1'">
                                <span class="glyphicon glyphicon-lock" title="已离职员工"></span>
                            </if>
                           <!-- <if condition="$val['iswashing'] eq 1">
                                <span class="glyphicon glyphicon-refresh" title="洗单"></span>
                                <elseif condition="$val['iswashing'] eq 2"/>
                                <span class="glyphicon glyphicon-repeat" title="已洗单"></span>
                                </elseif>

                            </if>-->
                        </td>
                        <td>
                            <div <empty name="val['status']">class="weihuifang-color"</empty> <if condition="$val['status'] eq 25">class="weiyanzheng-color"</if>>
                                <a href="javascript:void(0)" class="action-layer" data-action="{:U('Seller/addVisit',array('id'=>$val['custid']))}"  layer-title="编辑回访信息" layer-width="1000px" layer-height="500px">
                                    {$status[$val['status']]?$status[$val['status']]:'未回访'}
                                </a>
                            </div>
                        </td>
                        <td class="text-left">
                            已回访{:D('Customer')->getVisitTimes($val['custno'])}次
                            <php>
                                $time = explode(' ', $val['lastvisittime']);
                            </php>
                            <ul>
                                <li>最后回访时间:</li>
                                <li>{$time[0]}</li>
                                <li>{$time[1]}</li>
                            </ul>
                        </td>
                        <td>{$val['isorder'] == '1'?'是':'否'}</td>
                        <if condition="$user['roleid'] neq '1'">
                            <td>
                                {:D('Assign')->getFieldInfo($val['custno'], 'appointtype')}
                            </td>
                        </if>
                        <td>
                            <ul>
                                <li class="{:check_rule($RulesBlack, 'Seller/editCust')}">
                                    <a href="javascript:void(0)" class="action-layer"
                                       data-action="{:U('Seller/editCust',array('id'=>$val['custid']))}" layer-title="编辑客户信息"
                                       layer-width="1000px" layer-height="500px">[编辑]</a>
                                </li>
                                <li class="{:check_rule($RulesBlack, 'Seller/addVisit')}">

                                    <a href="javascript:void(0)" class="action-layer"
                                       data-action="{:U('Seller/addVisit',array('id'=>$val['custid']))}" layer-title="编辑回访信息"
                                       layer-width="1000px" layer-height="500px">[回访]</a>

                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="action-layer"
                                       data-action="{:U('Seller/visited',array('id'=>$val['custid']))}" layer-title="回访管理"
                                       layer-width="1000px" layer-height="500px">[跟踪]</a>
                                </li>
                               
                                <li>
                                    <a href="javascript:void(0)" class="action-layer"
                                       data-action="{:U('Seller/intoStore',array('id'=>$val['custid']))}" layer-title="进店"
                                       layer-width="500px" layer-height="300px">[进店]</a>
                                </li>

                                <li class="{:check_rule($RulesBlack, 'Seller/delCust')}">
                                    <a href="javascript:void(0)" class="action-delete"
                                       data-action="{:U('Seller/delCust',array('id'=>$val['custid']))}" data-tip="{$val.custname}">[删除]</a>
                                </li>

                            </ul>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    {$page}
    </div>
</div>

<div class="log hide">{$log}</div>
<div class="export hidden">
    <div id="jqmeter-container"></div>
    <div>数据总条数:<span class="count-seller">{$count}</span></div>
    <div>已导出条数:<span class="num-seller">{$endNum}</span></div>
    <a class="download hidden" href="">点击下载</a>
    <div><span class="error-seller"></span></div>
</div>
<script type="text/javascript" src="/assets/js/jqmeter.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/plug-in/multiple-select/multiple-select.css">
<script src="/assets/plug-in/multiple-select/multiple-select.js"></script>
<script>
    $(function(){
        $('#expSeller').click(function(){
            $('.export').removeClass('hidden');
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['240px', '240px'], //宽高
                content: $('.export')
            });
            var endId = 1;

            var listNum =1000;
            var num = 0;
            ajaxExport(endId,listNum,num);
        });


        $("#StoreId").multipleSelect({
            filter: true,
            width: '100%',
            placeholder: '选择门店'
        });

        $("#Opeartor").multipleSelect({
            filter: true,
            width: '100%',
            placeholder: '选择邀约手'
        });

        $("#SourceFrom").multipleSelect({
            filter: true,
            width: '100%',
            placeholder: '选择来源'
        });


        $("#salseId").multipleSelect({
            filter: true,
            width: '100%',
            placeholder: '选择接单客服'
        });

        $("#Status").multipleSelect({
            filter: true,
            width: '100%',
            placeholder: '选择回访状态'
        });

    })
    function ajaxExport(endId,listNum,num){
        $('.layui-layer-close').click(function(){
            //location.reload();
            xhr.abort();
        });
        var url= $('#expSeller').attr('exp-action');
        var xhr=$.ajax({
                type:'POST',
                url:url,
                data:{endId:endId,listNum:listNum,num:num},
                success:function(msg){
                   // console.log(msg);
                    var goalnum = (msg['num']/msg['count'])*2000?(msg['num']/msg['count'])*2000:2000;
                    if(msg["expUrl"]){
                        $('.download').attr('href',msg["expUrl"]);
                        $('.download').removeClass('hidden');
                    }
                    $('#jqmeter-container').jQMeter({
                        goal:'$2,000',
                        raised:'$'+goalnum,
                        width:'200px',
                        height:'30px'
                    });
                    if(msg['num']){
                        $('.num-seller').html(msg['num']);
                        $('.count-seller').html(msg['count']);
                        $('.error-seller').html(msg['error']);
                        setTimeout( ajaxExport(msg['endId'],msg['listNum',msg['num']]),5000);
                    }else{
                        return false;
                    }
                }
        });
    }

</script>