<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$page_title|default='JQuery UI'}</title>
    <link rel="stylesheet" type="text/css" href="/assets/plug-in/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plug-in/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plug-in/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/plug-in/jquery-ui/jquery-ui.theme.min.css">
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/plug-in/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/assets/plug-in/jquery-ui/jquery-ui.min.js"></script>
    <script src="/assets/plug-in/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/plug-in/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script src="/assets/plug-in/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/plug-in/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>