<div class="clearfix page-main-content">
    <div class="main-content">
        <!-- 面包屑 -->
        <div class="breadcrumb-box clearfix">
            <ul class="breadcrumb">
                <li>首页</li>
                <li>系统设置</li>
                <li>部门管理</li>
                <li>用户管理</li>
                <li>重置密码</li>
            </ul>
            <ul class="breadcrumb pull-right">
                <li>
                    <a href="javascript:history.go(-1);">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <span class="text">返回</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix form-header">
            <h3 class="pull-left">重置密码</h3>
        </div>
        <!-- 表单 -->
        <form class="ajax-form" data-action="{:U('User/repassword')}">
            <table class="table table-hover">

                <tr>
                    <td class="td-title text-left">用户账号</td>
                    <td class="text-left">
                        {$user['useraccount']}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">原密码</td>
                    <td class="text-left"><input type="password" name="OldUserPwd" id="OldUserPwd"  class="w-percent-100"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">新密码</td>
                    <td class="text-left"><input type="password" name="UserPwd" id="UserPwd" class="w-percent-100"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">确认新密码</td>
                    <td class="text-left"><input type="password" name="ReUserPwd" id="ReUserPwd" class="w-percent-100"/></td>
                    <td></td>
                </tr>
            </table>
            <div class="space-30"></div>
            <div class="footer-fixed-bottom">
                <input type="hidden" name="referer" value="{$_SERVER['HTTP_REFERER']}"/>
                <input type="submit" value="保存" class="btn btn-system">
                <a class="btn btn-primary" href="javascript:history.go(-1)">返回</a>
            </div>
        </form>
    </div>
</div>
