<div class="clearfix page-main-content padding-12lr">
    <div class="main-content">
        <!-- 表单 -->
        <form class="ajax-form form-layer" data-action="{:U('Assign/doEditDeAssign')}" method="post">
            <table class="table table-hover">

                <tr>
                    <td class="td-title text-left">客户单号</td>
                    <td class="text-left">
                        {$d['custno']}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">当前销售</td>
                    <td class="text-left">
                       {:D('User')->getUser($d['nowuser'],'realname')}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">接受状态</td>
                    <td class="text-left">
                        {$d['status']?'已接受':'未接受'}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title text-left">更改销售</td>
                    <td class="text-left">
                        <select name="NowUser">
                            <foreach item="v" name="ksellers">
                                <option value="{$v['userid']}">{$v['realname']}</option>
                            </foreach>
                        </select>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="footer-fixed-bottom">
                <input type="hidden" name="layer" value="yes" />
                <input type="hidden" name="referer" value="{$_SERVER['HTTP_REFERER']}"/>
                <input type="hidden" name="CustId" value="{$d['custid']}" />
                <input type="submit" value="保存" class="btn btn-system">
            </div>
        </form>
    </div>
</div>