<div class="clearfix page-main-content padding-12lr">
    <div class="main-content">
        <div class="space-10"></div>
        <table class="table table-responsive table-striped table-bordered table-hover">
            <tr>
                <td align="center" class="text-left">姓名</td>
                <td align="center">手机</td>
                <td align="center">QQ</td>
                <td align="center">微信</td>
                <td align="center">微博昵称</td>
                <td align="center">所属门店</td>
                <td align="center">接单销售</td>
                <td align="center">选择</td>
            </tr>

            <tr>
                <td align="center">{$customer.customername}{$customer.custname}</td>
                <td align="center">{$customer.mobile}</td>
                <td align="center">{$customer.qq}</td>
                <td align="center">{$customer.wechat}</td>
                <td align="center">{$customer.weiboname}</td>
                <td align="center">{:D('store')->getStore($customer['storeid'],'storename')}</td>
                <td align="center">{:D('user')->getUser($list['add_user'],'realname')}</td>
                <td align="center">{$customer.qq}</td>
            </tr>
        </table>
        <!-- 表单 -->
        <form class="form form-eidit-customer" data-action="{:U('Washing/doAddVisit')}">
            <div class="title-visit clearfix">
                <h3 class="pull-left">添加回访记录</h3>
                <input type="submit" value="保存" class="btn btn-system pull-right">
            </div>
            <div class="space-10"></div>
            <table class="table table-responsive table-striped table-bordered table-hover">
                <tr>
                    <td class="td-title text-left">回访状态</td>
                    <td class="text-left">
                        <select name="Status">
                            <option value="0">请选择</option>
                            <foreach item="val" name="status">
                                <option value="{$key}"
                                <if condition="$customer['status'] eq $key">selected</if>
                                >{$val}</option>
                            </foreach>
                        </select>
                    </td>
                    <td class="td-title text-left">客户姓名</td>
                    <td class="text-left">
                        <input type="text"
                        <notempty name="customer.custname">readonly</notempty>
                        name="CustName" value="{$customer.custname}">
                    </td>
                </tr>
                <tr>
                    <td class="td-title text-left">是否拍摄</td>
                    <td class="text-left">
                        <select name="IsPhoto" id="IsPhoto">
                            <option value="">请选择</option>
                            <option value="0"
                            <if condition="$customer['isphoto'] eq 0">selected</if>
                            >未定</option>
                            <option value="1"
                            <if condition="$customer['isphoto'] eq 1">selected</if>
                            >已定</option>
                        </select>
                    </td>
                    <td class="td-title text-left">手机号</td>
                    <td class="text-left"><input type="text"
                        <notempty name="customer.mobile">readonly</notempty>
                        name="Mobile" id="Mobile" value="{$customer.mobile}" class="w-percent-100">
                    </td>
                </tr>
                <tr>
                    <td class="td-title text-left">是否婚宴</td>
                    <td class="text-left">
                        <select name="IsFeast">
                            <option value="">请选择</option>
                            <option value="0"
                            <if condition="$customer['isfeast'] eq 0">selected</if>
                            >否</option>
                            <option value="1"
                            <if condition="$customer['isfeast'] eq 1">selected</if>
                            >是</option>
                        </select>
                    </td>
                    <td class="td-title text-left">微信号</td>
                    <td class="text-left"><input type="text" name="WeChat"
                        <notempty name="customer['wechat']">readonly</notempty>
                        id="WeChat" value="{$customer['wechat']}" class="w-percent-100">
                    </td>
                </tr>
                <tr>
                    <td class="td-title text-left">是否订单</td>
                    <td class="text-left">
                        <select name="IsOrder">
                            <option value="">请选择</option>
                            <option value="0"
                            <if condition="$customer['isorder'] eq 0">selected</if>
                            >否</option>
                            <option value="1"
                            <if condition="$customer['isorder'] eq 1">selected</if>
                            >是</option>
                        </select>
                    </td>
                    <td class="td-title text-left">微博昵称</td>

                    <td class="text-left"><input type="text" name="WeiboName"
                        <notempty name="customer['weiboname']">readonly</notempty>
                        value="{$customer['weiboname']}" class="w-percent-100">
                    </td>
                </tr>
                <tr>
                    <td class="td-title text-left" rowspan="4">回访备注</td>
                    <td class="text-left" rowspan="4">
                        <textarea name="Remark" rows="10" class="w-percent-100">{$customer['remark']}</textarea>
                    </td>
                    <td class="td-title text-left">QQ号</td>
                    <td class="text-left"><input type="text"
                        <notempty name="customer['qq']">readonly</notempty>
                        name="QQ" value="{$customer['qq']}" class="w-percent-100">
                    </td>

                </tr>
                <tr>
                    <td class="td-title text-left">附件</td>
                    <td class="text-left"><input type="text" name="VisitURL" value="{$customer['visitur']}"
                                                 class="w-percent-100"></td>

                </tr>
                <tr>
                    <td class="td-title text-left">无效类别</td>
                    <td class="text-left">
                        <select name="StatusCause" id="StatusCause">
                            <option value="0">请选择</option>
                            <option value="1">已定</option>
                            <option value="2">同行/微商</option>
                            <option value="3">应聘</option>
                            <option value="4">18岁不到</option>
                            <option value="5">重复</option>
                            <option value="6">空号</option>
                            <option value="7">城市错误(1次)</option>
                            <option value="8">拉黑</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-title text-left">标记颜色</td>
                    <td class="text-left">
                        <select name="Color">
                            <option value="0">请选择</option>
                            <option value="#F08080" style="background-color: #F08080"
                            <if condition="$customer['color'] eq '#F08080'">selected</if>
                            >红色准客户</option>
                            <option value="#CDCD00" style="background-color: #CDCD00"
                            <if condition="$customer['color'] eq '#CDCD00'">selected</if>
                            >黄色有效</option>
                            <option value="#6B8E23" style="background-color: #6B8E23"
                            <if condition="$customer['color'] eq '#6B8E23'">selected</if>
                            >绿色改期</option>
                            <option value="#A8A8A8" style="background-color: #A8A8A8"
                            <if condition="$customer['color'] eq '#A8A8A8'">selected</if>
                            >灰色无效</option>
                            <option value="#4D4DFF" style="background-color:#4D4DFF"
                            <if condition="$customer['color'] eq '#4D4DFF'">selected</if>
                            >霓虹蓝</option>
                        </select>
                    </td>
                </tr>


            </table>
            <div class="footer-fixed-bottom">
                <input type="hidden" name="layer" value="yes"/>
                <input type="hidden" name="CustId" value="{$customer['custid']}"/>
            </div>
        </form>
        <h3>回访记录</h3>

        <div class="space-10"></div>
        <table class="table table-responsive table-striped table-bordered table-hover">
            <tr>
                <td>编号</td>
                <td>客户姓名</td>
                <td>手机号</td>
                <td>咨询门店</td>
                <td>回访状态</td>
                <td>是否拍摄</td>
                <td>是否婚宴</td>
                <td>备注</td>
                <td>回访时间</td>

                <td>操作</td>
            </tr>
            <foreach name="visit" item="val">
                <tr>
                    <td>{$val['visitid']}</td>
                    <td>{$customer.custname}</td>
                    <td>{$customer.mobile}</td>
                    <td>{$store[$customer['storeid']]['storename']}</td>
                    <td>{$status[$val['status']]}</td>
                    <td>

                        {$val['isphoto']?'是':'否'}
                    </td>
                    <td>

                        {$val['isfeast']?'是':'否'}
                    </td>
                    <td>{$val.remark}</td>
                    <td>{$val.inserttime}</td>

                    <td>操作</td>
                </tr>
            </foreach>
        </table>
    </div>
</div>
<script>
    $(function () {
        var reg = /^13[0-9]{1}[0-9]{8}$|15[0-9]{1}[0-9]{8}$|18[0-9]{1}[0-9]{8}$|14[0-9]{1}[0-9]{8}$|17[0-9]{1}[0-9]{8}$/;
        $("form.form-eidit-customer").submit(function () {
            var $this = $(this);

            var Mobile = $("#Mobile").val();
            /* if(Mobile != '' && !reg.test(Mobile)){
             layer.msg('请输入正确的手机号码');
             return false;
             }*/

            var url = $this.attr('data-action');
            $.post(url, $this.serialize(), function (data) {
                if (data.redirect != undefined) {
                    window.location.href = data.redirect;
                } else if (data.layer == 'yes') {
                    parent.window.location.reload();
                } else if (data.reload == 'yes') {
                    window.location.reload();
                } else {
                    alert(data.msg);
                    $('.change-verify').trigger("click");
                    $this.find('input[name="' + data.id + '"]').siblings(".error-tip").html(data.msg).show();
                }
            }, 'json');
            return false;
        });
    })
</script>