<tr>
    <td colspan="8" class="text-left"><h5>婚姻信息</h5></td>
</tr>
<tr>
    <td class="td-title">婚期状态</td>
    <td class="text-left">
        <select name="WedStatus" id="WedStatus">
            <option <if condition="$d['wedstatus'] eq '-1'">selected</if> value="-1">--请选择--</option>
            <option <if condition="$d['wedstatus'] eq '0'">selected</if> value="0">已定</option>
            <option <if condition="$d['wedstatus'] eq '1'">selected</if> value="1">未定</option>
            <option <if condition="$d['wedstatus'] eq '2'">selected</if> value="2">今年</option>
            <option <if condition="$d['wedstatus'] eq '3'">selected</if> value="3">明年</option>
            <option <if condition="$d['wedstatus'] eq '4'">selected</if> value="4">暂未确定</option>
        </select>
    </td>
    <td class="td-title">是否进店</td>
    <td class="text-left">
        <select name="GotoStore" id="GotoStore">
            <option value="0">请选择</option>
            <option value="1" <if condition="$d['gotostore'] eq 1">selected</if> >已预约</option>
            <option value="2" <if condition="$d['gotostore'] eq 2">selected</if> >已进店</option>
            <option value="3" <if condition="$d['gotostore'] eq 3">selected</if> >已改期</option>
        </select>
    </td>
    <td class="td-title">预约时间</td>
    <td class="text-left"><input type="text" name="PresetTime" id="PresetTime" value="{$d['presettime']}" class="Wdate"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
    <td class="td-title">进店时间</td>
    <td class="text-left"><input type="text" name="IntoTime" id="IntoTime" value="{$d['intotime']}" class="Wdate"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
</tr>

<tr>
    <td class="td-title">新郎姓名</td>
    <td class="text-left"><input type="text" name="Groom" id="Groom" value="{$d['groom']}"/></td>
    <td class="td-title">新郎手机</td>
    <td class="text-left"><input type="text" name="GroomMobi" id="GroomMobi" value="{$d['groommobi']}"/></td>
    <td class="td-title">新娘姓名</td>
    <td class="text-left"><input type="text" name="Bride" id="Bride" value="{$d['bride']}"/></td>
    <td class="td-title">新娘手机</td>
    <td class="text-left"><input type="text" name="BrideMobi" id="BrideMobi" value="{$d['bridemobi']}"/></td>
</tr>
<tr>
    <td class="td-title">化妆团队</td>
    <td class="text-left">
        <select name="MakeupTeam" id="MakeupTeam">
            <foreach item="v" name="makeupTeam">
                <option value="{$v.teamid}" <if condition="$d['makeupteam'] eq $v['teamid']">selected="selected"</if>>{$v.teamname}</option>
            </foreach>
        </select>
    </td>
    <td class="td-title">摄影团队</td>
    <td class="text-left">
        <select name="PhotoTeam" id="PhotoTeam">
            <foreach item="v" name="photoTeam">
                <option <if condition="$d['phototeam'] eq $v['teamid']">selected</if> value="{$v.teamid}">{$v.teamname}</option>
            </foreach>
        </select>
    </td>
    <td class="td-title">拍摄时间</td>
    <td class="text-left"><input type="text" name="PhotoTime" id="PhotoTime" value="{$d['phototime']}" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td class="td-title">城市品牌</td>
    <td><input type="text" name="Company" id="Company" value="{$d['company']}"/></td>
    <td class="td-title">备注</td>
    <td colspan="2">
        <textarea name="Remark" class="w-percent-100">{$d['remark']}</textarea>
    </td>
    <td colspan="3"></td>
</tr>