<tr>
    <td class="text-left" colspan="8">
        <span class="block-title">月子中心</span>
    </td>
</tr>
<tr>
    <td class="td-title">是否结婚</td>
    <td class="text-left">
        <select name="IsMarried">
            <option value="1">已婚</option>
            <option value="0">未婚</option>
            <option value="2">未知</option>
        </select>
    </td>
    <td class="td-title">类型</td>
    <td class="text-left">
        <select name="BirthType" id="">
            <option value="美国生育">美国生育</option>
        </select>
    </td>
    <td class="td-title">是否有美签</td>
    <td class="text-left">
        <select name="IsHasVisa">
            <option value="1">有签证</option>
            <option value="0">无签证</option>
            <option value="2">未知</option>
        </select>
    </td>
    <td class="td-title">孕期</td>
    <td class="text-left">
        <input type="text" name="Pregnancy" id="Pregnancy" class="Wdate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
    </td>
</tr>
<tr>
    <td class="td-title">地区</td>
    <td class="text-left">
        <textarea name="area" rows="3" ></textarea>
    </td>
    <td colspan="6"></td>
</tr>