<script>
    $(function(){
        /*var maxTime= 30* 60;
        var time = maxTime;
        $('body').on('keydown mousemove mousedown',function(e){
        time = maxTime;
        });
        var intervalId = setInterval(function(){
        time--;
        if(time <= 0){
        ShowInvalidLoginMessage();
        clearInterval(intervalId);
        }
        },1000);

        function ShowInvalidLoginMessage(){

            window.location="{:U('Public/logout')}";
        }*/
       
    })

</script>