<div class="clearfix page-main-content">
    <div class="main-content">
        <!-- 面包屑 -->
        <div class="breadcrumb-box clearfix">
            <ul class="breadcrumb">
                <li>首页</li>
                <li>客户管理</li>
                <li>销售回访</li>
                <li>添加客户</li>

            </ul>
        </div>
        <div class="clearfix form-header">
            <h3 class="pull-left">{$_GET['id']?'编辑':'添加'}客户</h3>
        </div>
        <!-- 表单 -->
        <form class="ajax-form" data-action="{:U('Admin/doEditCustomer')}">
            <table class="table table-hover">
                <!-- 客户基本信息 -->
                <tbody>
                <tr>
                    <td class="text-left" colspan="5">
                        客户基本资料
                    </td>
                </tr>
                <tr>
                    <td class="td-title">客户编号</td>
                    <td><input type="text" readonly id="CustNo" name="CustNo" value="{$custNo}" /></td>

                    <td class="td-title">选择门店</td>
                    <td>
                        <select name="StoreId" id="StoreId">
                            <option value="0">--请选择--</option>
                            <foreach item="v" name="store">
                                <if condition="$kid eq $v['departid']">
                                    <option value="{$key}">{$brand[$v['brandid']]['brandname']}{$v['storename']}</option>
                                </if>
                            </foreach>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">客户姓名</td>
                    <td>
                        <input type="text" id="CustName" name="CustName" value="" />
                    </td>
                    <td class="td-title">称呼</td>
                    <td>
                        <select  id="Sex" name="Sex" >
                            <option value="-1">未知</option>
                            <option value="1">先生</option>
                            <option value="0">女士</option>
                        </select>
                    </td>
                    <td class="w-percent-50"></td>
                </tr>

                <tr>
                    <td class="td-title">客户手机</td>
                    <td><input type="text" name="Mobile"  id="Mobile" value="" /></td>
                    <td class="td-title">微信号</td>
                    <td><input type="text" name="WeChat"  id="WeChat" value="" ></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">QQ号</td>
                    <td><input type="text" name="QQ" id="QQ" value=""/></td>
                    <td class="td-title">QQ验证</td>
                    <td><input type="text" name="QQCode"  id="QQCode"  value="" ></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">微博昵称</td>
                    <td><input type="text" name="WeiboName" id="WeiboName" value="" /></td>
                    <td class="td-title">分配销售</td>
                    <td>
                        <select name="AppointType" id="AppointType">

                            <option value="1">组长指定</option>
                            <foreach name="list" item="vo" >
                            <option value="3">晚值</option>
                            </foreach>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-title">来源渠道</td>
                    <td>
                        <select>
                            <option>--请选择--</option>
                            <foreach name="sources" item="s">
                                <option value="{$sourceid}">{$s['sourcename']}</option>
                            </foreach>
                        </select>
                    </td>
                    <td class="td-title">来源关键字</td>
                    <td>
                        <input type="text" name="Keywords" id="Keywords" value=""/>
                    </td>
                    <td></td>
                </tr>

                </tbody>
            </table>
            <div class="space-30"></div>
            <div class="footer-fixed-bottom">
                <input type="hidden" name="referer" value="{$_SERVER['HTTP_REFERER']}"/>
                <input type="hidden" name="id" value="{$_GET['id']}" />
                <input type="submit" value="保存" class="btn btn-system">
                <a class="btn btn-info" href="javascript:history.go(-1)">返回</a>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $("#StoreId").change(function(){
            var url = "{:U('ajax/getSellers')}";
            var StoreId = $("#StoreId").val();
            $.get(url, {StoreId:StoreId}, function(result){
                $(".stores").html(result);
            });
        });
    })
</script>